
/*.rlw a { color:#00B7EB; cursor:pointer; }
.rlw a:hover { color:#00B7EB; text-decoration:underline; cursor:pointer; }
*/
.rlw .link-white a { color:#fff; }
.rlw .link-white a:hover { color:#fafafa; text-decoration:none; }

.rlw .center-vertically { display:table-cell; text-align:center; vertical-align:middle; }
.rlw .center-vertically-left { display:table-cell; text-align:left; vertical-align:middle; }
.rlw .center-vertically-right { display:table-cell; text-align:right; vertical-align:middle; }
.rlw .border-bottom-none { border-bottom:0 !important; }
.rlw .border-top-white { border-top:2px solid #fff; }
.rlw .border-top { border-top:1px dotted #d2d2d2; }
.rlw .border-bottom { border-bottom:1px dotted #d2d2d2; }
.rlw .border { border:1px solid #E6E6E6; }
.rlw .border-white { border:1px solid #fff !important;}
.rlw .no-border { border:0 !important;}
.rlw .no-padding { padding:0 !important; }
.rlw .no-margin { margin:0 !important; }
.rlw .no-border-radius { border-radius:0 !important; }
.rlw .br-50 { border-radius:50% !important; }
.rlw .br-2 { border-radius:2px !important; }
.rlw .full-width { width:100%; }

.rlw .pt10 { padding-top:10px !important; }
.rlw .pt15 { padding-top:15px !important; }
.rlw .pt20 { padding-top:20px !important; }
.rlw .pt30 { padding-top:30px !important; }
.rlw .pt40 { padding-top:40px !important; }
.rlw .pt50 { padding-top:50px !important; }
.rlw .pt60 { padding-top:60px !important; }
.rlw .pt80 { padding-top:80px !important; }
.rlw .pt100 { padding-top:100px !important; }
.rlw .pb10 { padding-bottom:10px !important; }
.rlw .pb15 { padding-bottom:15px !important; }
.rlw .pb20 { padding-bottom:20px !important; }
.rlw .pb30 { padding-bottom:30px !important; }
.rlw .pb40 { padding-bottom:40px !important; }
.rlw .pb50 { padding-bottom:50px !important; }
.rlw .pb60 { padding-bottom:60px !important; }
.rlw .pb100 { padding-bottom:100px !important; }

.rlw .mt0 { margin-top:0; }
.rlw .mt5 { margin-top:5px !important; }
.rlw .mt10 { margin-top:10px !important; }
.rlw .mt15 { margin-top:15px !important; }
.rlw .mt20 { margin-top:20px !important; }
.rlw .mt30 { margin-top:30px !important; }
.rlw .mt40 { margin-top:40px !important; }
.rlw .mt50 { margin-top:50px !important; }
.rlw .mt100 { margin-top:100px !important; }
.rlw .mb0 { margin-bottom:0; }
.rlw .mb5 { margin-bottom:5px !important; }
.rlw .mb10 { margin-bottom:10px !important; }
.rlw .mb15 { margin-bottom:15px !important; }
.rlw .mb20 { margin-bottom:20px !important; }
.rlw .mb30 { margin-bottom:30px !important; }
.rlw .mb40 { margin-bottom:40px !important; }
.rlw .mb50 { margin-bottom:50px !important; }
.rlw .mb100 { margin-bottom:100px !important; }

.rlw .mg5 { margin:5px !important; }
.rlw .p15 { padding:15px !important; }
.rlw .ml15 { margin-left:15px !important; }
.rlw .ml10 { margin-left:10px !important; }
.rlw .ml5 { margin-left:5px !important; }
.rlw .mr5 { margin-right:5px !important; }
.rlw .mr15 { margin-right:15px !important; }
.rlw .mr10 { margin-right:10px !important; }
.rlw .ml20 { margin-left:20px !important; }
.rlw .mr20 { margin-right:20px !important; }

.rlw .background-light-grey { background-color:#fafafa !important; }
.rlw .background-white { background-color:#fff !important; }
.rlw .background-main { background-color:#000 !important; }
.rlw .background-mainsub { background-color:#00B7EB; }
.rlw .color-main { color:#00B7EB; }
.rlw .success-rw {
	background-color:#2ecc71;
}


.rlw .text-muted { color:#d1d1d1; font-weight:400; }
.rlw .text-success{ font-weight:400; }
.rlw .text-info { font-weight:400; }
.rlw .text-primary { font-weight:400; color:#00B7EB; }
.rlw .text-warning { font-weight:400; }
.rlw .text-danger { font-weight:400; }

.rlw .no-lineheight { line-height:0 !important; }
.rlw .heavy { font-weight:600 !important; }
.rlw .text-white { color:#fff !important; }
.rlw .text-main { color:#00B7EB !important; }
.rlw .text-dark { color:#272727 !important; }
.rlw .text-light-grey { color:#CBCBCB; }



/* =Call to Action
-------------------------------------------------------------- */
.rlw .cta, .cta-dark, .cta-primary {
 	background-color:#fafafa;
 	padding:30px 30px;
 	border-left:6px solid #d3d3d3;
 }
.rlw .cta-dark {
	background-color:#272727;
	border-left:6px solid #494949;
}
.rlw .cta-primary {
	background-color:#00B7EB;
	border-left:6px solid #EAEAEA;
}
.rlw .cta p, .cta-dark p, .cta-primary p{
	margin:0;
	padding:0;
	font-size:16px;
}
.rlw .cta2 {
	z-index:10;
	background-color:#00B7EB;
	padding:30px 0;
}
.rlw .cta2 h2,
.rlw .cta2 h3,
.rlw .cta2 h4 {
	color:#fff;
	font-weight:600;
	margin-bottom:5px;
}
.rlw .cta2 h2 {
	font-size:24px;
}
.rlw .cta2 p {
	margin:0;
	padding:0 15px 0 15px;
	font-size:16px;
	color:#fff;
}
.rlw .cta2.arrow-up,
.rlw .cta2.arrow-down {
	position:relative;
	padding:60px 0;
	z-index:5;
}
.rlw .cta2.arrow-down:after {
	content:' ';
	position:absolute;
	width:0; height:0; 
	border-left:15px solid transparent;
	border-right:15px solid transparent;
	border-top:15px solid #00B7EB;
	left:50%; 
	margin-left:-15px;
	bottom:-15px;
}
.rlw .cta2.arrow-up:after {
	content:' ';
	position:absolute;
	width:0; height:0; 
	border-left:15px solid transparent;
	border-right:15px solid transparent;
	border-bottom:15px solid #00B7EB;
	left:50%; 
	margin-left:-15px;
	top:-15px;
}

.no-padding-l-r{
    padding-left:0px;
    padding-right:0px;
}



/* =Modals
-------------------------------------------------------------- */
.rlw .modal-content { 
	border-radius:2px;
	box-shadow:0px 2px 8px rgba(0, 0, 0, 0.2);
	border:0;
}

.rlw .modal-header {
	background-color:#00B7EB;
}

.rlw .modal-title {
	color:#fff;
	text-transform:uppercase;
	font-weight:700;
}

.rlw .modal .close {
	color:#fff;
}

.rlw .modal .close:hover {
	opacity:0.9;
}



/* =Heading
-------------------------------------------------------------- */
.rlw .heading h1, .heading h2, .heading h3, .heading h4, .heading h5, .heading h6 {
	margin:0 0 -2px 0;
	padding-bottom:15px;
	display:inline-block;
	border-bottom:2px solid #00B7EB;
}
.rlw .heading {
	display:block;
	margin:0 0 20px 0;
	border-bottom:1px dotted #d2d2d2;
	font-size:12px;
}
.rlw .heading-caption {
	font-size:12px;
	font-family:'Open Sans', sans-serif;
	position:absolute;
	line-height:1.4;
	padding-left:25px;
	padding-top:4px;
}



/* =Buttons
-------------------------------------------------------------- */
.rlw .btn-rw {
	border-radius:2px;
	font-family:'Open Sans', sans-serif;
	font-weight:300;
	border:0;
}

.rlw .btn {
	border-radius:2px;
}

.rlw .btn:focus, .btn:active:focus, .btn.active:focus {
	outline:none;
}

.rlw .btn-rw.btn-default {
	color:#fff;
	background-color:#272727;
	-webkit-box-shadow:0px 2px 0px rgba(56, 56, 56, 0.9);
	-moz-box-shadow:0px 2px 0px rgba(56, 56, 56, 0.9);
	box-shadow:0px 2px 0px rgba(56, 56, 56, 0.9);
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

.rlw .btn-rw.btn-default:hover, .btn-rw.btn-default:focus {
	background-color:#444444;
	-webkit-box-shadow:0px 2px 0px #444444;
	-moz-box-shadow:0px 2px 0px #444444;
	box-shadow:0px 2px 0px #444444;
}

.rlw .btn-rw.btn-default-inverted {
	color:#272727;
	background-color:#fff;
	-webkit-box-shadow:0px 2px 0px rgba(255, 255, 255, 0.5);
	-moz-box-shadow:0px 2px 0px rgba(255, 255, 255, 0.5);
	box-shadow:0px 2px 0px rgba(255, 255, 255, 0.5);
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

.rlw .btn-rw.btn-default-inverted:hover, .btn-rw.btn-default-inverted:focus {
	background-color:#fff;
	color:#323232;
	-webkit-box-shadow:0px 2px 0px #fff;
	-moz-box-shadow:0px 2px 0px #fff;
	box-shadow:0px 2px 0px #fff;
}

.rlw .btn-rw.btn-primary {
	color:#fff;
	background-color:#00B7EB;
	-webkit-box-shadow:0px 2px 0px #0087AD;
	-moz-box-shadow:0px 2px 0px #0087AD;
	box-shadow:0px 2px 0px #0087AD;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

.rlw .btn-rw.btn-primary:hover, .btn-rw.btn-primary:focus {
	background-color:#0AA2CE;
	-webkit-box-shadow:0px 2px 0px #0AA2CE;
	-moz-box-shadow:0px 2px 0px #0AA2CE;
	box-shadow:0px 2px 0px #0AA2CE;
}

.rlw .btn-rw.btn-info {
	color:#fff;
	background-color:#5bc0de;
	-webkit-box-shadow:0px 2px 0px rgba(91, 192, 222, 0.5);
	-moz-box-shadow:0px 2px 0px rgba(91, 192, 222, 0.5);
	box-shadow:0px 2px 0px rgba(91, 192, 222, 0.5);
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

.rlw .btn-rw.btn-info:hover, .btn-rw.btn-info:focus {
	background-color:#76daf7;
	-webkit-box-shadow:0px 2px 0px #76daf7;
	-moz-box-shadow:0px 2px 0px #76daf7;
	box-shadow:0px 2px 0px #76daf7;
}

.rlw .btn-rw.btn-danger {
	color:#fff;
	background-color:#d9534f;
	-webkit-box-shadow:0px 2px 0px rgba(217, 83, 79, 0.5);
	-moz-box-shadow:0px 2px 0px rgba(217, 83, 79, 0.5);
	box-shadow:0px 2px 0px rgba(217, 83, 79, 0.5);
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

.rlw .btn-rw.btn-danger:hover, .btn-rw.btn-danger:focus {
	background-color:#ef716e;
	-webkit-box-shadow:0px 2px 0px #ef716e;
	-moz-box-shadow:0px 2px 0px #ef716e;
	box-shadow:0px 2px 0px #ef716e;
}

.rlw .btn-rw.btn-warning {
	color:#fff;
	background-color:#f0ad4e;
	-webkit-box-shadow:0px 2px 0px rgba(240, 173, 78, 0.5);
	-moz-box-shadow:0px 2px 0px rgba(240, 173, 78, 0.5);
	box-shadow:0px 2px 0px rgba(240, 173, 78, 0.5);
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

.rlw .btn-rw.btn-warning:hover, .btn-rw.btn-warning:focus {
	background-color:#ffc067;
	-webkit-box-shadow:0px 2px 0px #ffc067;
	-moz-box-shadow:0px 2px 0px #ffc067;
	box-shadow:0px 2px 0px #ffc067;
}

.rlw .btn-rw.btn-success {
	color:#fff;
	background-color:#5cb85c;
	-webkit-box-shadow:0px 2px 0px rgba(92, 184, 92, 0.5);
	-moz-box-shadow:0px 2px 0px rgba(92, 184, 92, 0.5);
	box-shadow:0px 2px 0px rgba(92, 184, 92, 0.5);
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

.rlw .btn-rw.btn-success:hover, .btn-rw.btn-success:focus {
	background-color:#72cc72;
	-webkit-box-shadow:0px 2px 0px #72cc72;
	-moz-box-shadow:0px 2px 0px #72cc72;
	box-shadow:0px 2px 0px #72cc72;
}

.rlw .btn-rw.btn-royal {
	background-color:#d3d3d3;
	color:#fff;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

.rlw .btn-rw.btn-royal:hover, .btn-rw.btn-royal:focus {
	background-color:#c3c3c3;
}

.rlw .btn-rw.btn-clear {
	background-color:transparent;
	color:#fff;
	border:2px solid #fff;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

.rlw .btn-rw.btn-clear:hover, .btn-rw.btn-clear:focus {
	background-color:rgba(255, 255, 255, 0.33);
}

.rlw .btn-rw.btn-bordered {
    color:#313131;
    background-color:transparent;
    -moz-box-shadow:0px 2px 0px #0087AD;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
    border:1px solid #ccc;
}

.rlw .btn-rw.btn-bordered:hover, .btn-rw.btn-bordered:focus {
	background-color:#00B7EB;
	border-color:#00B7EB;
	color:#fff;
}

.rlw .btn-social-icon { border-radius:2px; }
.rlw .btn-social { border-radius:2px; }

.rlw .btn-social-icon :first-child { color:#fff; }
.rlw .btn-social :first-child { color:#fff; }
.rlw .btn-social { color:#fff !important; }

.rlw .btn-lg {
	padding:10px 19px;
	font-size:18px;
}

.rlw .dropdown-menu {
    border:none;
    border-radius:0;
}

.rlw .btn-rw.btn-default:hover, .btn-rw.btn-default:focus { color:#fff; }
